/* ----- HERO SECTION ----- */
.hero {
    height: 90vh; /* Grande image qui prend presque tout l'écran */
    background: url(logo sandwich maker.webp) center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
) center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}



.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.hero-text {
    position: relative;
    z-index: 2;
    color: white;
}

.hero-text h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.4);
}

.btn {
    padding: 12px 20px;
    background-color: #d9480f;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}
.btn:hover {
    background-color: #b83e0d;
}

